@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&family=Roboto&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: grey;
  --secondary-color: rgba(128, 128, 128, 0.219);
  --tertirary-color: black;
  /* SWIPER VARIABLES */
  --swiper-theme-color: #000;
}

body {
  overflow-x: hidden;
}

/* SWIPER STYLES OVERRIDING */
.swiper {
  height: 80svh;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .swiper {
    height: 70svh !important;
  }
  .swiper-slide {
    width: 100% !important;
  }
}
