.section {
  height: 80svh;
}

.projectsContainer > h2 {
  margin: 2em;
  font-size: 3rem;
  font-family: var(--secondary-font);
}

@media (min-width: 300px) and (max-width: 768px) {
  .section {
    height: 100svh;
  }
  .projectsContainer > h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projectsContainer > h2 {
    font-size: 3rem;
  }
}
