header {
  height: 50svh;
}

.header__headerBlock {
  display: flex;
  flex-direction: column;
  margin: 45svh 0 0 50svw;
  align-items: center;
  text-align: center;
}

.headerBlock__textblock {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  padding: 3em 0;
  text-align: left;
  animation: moveInRight 1.3s 0.3s ease-in-out;
}

.header__headerBlock > h1,
p {
  margin-left: 0.8em;
}

.textblock__title {
  margin: 0 0.3em;
  font-size: 2rem;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  opacity: 0;
  animation: fadeIn 0.5s 1.3s forwards;
}

.textblock__paragraph {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
  color: grey;
  opacity: 0;
  animation: fadeIn 0.5s 1.5s forwards;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .header__headerBlock {
    margin: 30svh 0 0 0;
    width: 80%;
  }
  .headerBlock__textblock {
    margin-left: 45svw;
    padding: 2em 0;
  }
  .textblock__title {
    font-size: 1.5rem;
  }
  .textblock__paragraph {
    font-size: 1rem;
  }
}
