.projectItem {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: fit-content;
  padding: 2.5em 2em 2em 2em;
  margin-left: 25svw;
  border: 2px solid black;
  background-color: rgb(253, 253, 253);
}
.projectItem__desc > img {
  width: 100%;
}

.projectItem__desc > h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-family: var(--secondary-font);
}

.projectItem__desc > p {
  width: 95%;
  font-size: 1rem;
  font-family: var(--tertiary-font);
}

/* links list styles */
.linksList {
  display: flex;
  gap: 10px;
  margin-top: 1em;
}

.linksListItem > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.linksListItem > a > img {
  width: 1.5em;
}

.linksListItem > a > p {
  margin-left: 0.5em;
  font-size: 1.3rem;
  font-family: var(--tertiary-font);
}

@media (min-width: 350px) and (max-width: 768px) {
  .projectItem__desc > h2 {
    font-size: 1.5rem;
  }

  .projectItem {
    height: 35svh;
    width: 50%;
    margin-left: 18svw;
    margin-top: 10svh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projectItem {
    width: 60%;
    margin-left: 17svw;
    margin-top: 10svh;
  }

  .projectItem__desc > h2 {
    font-size: 2.5rem;
  }

  .projectItem__desc > p {
    font-size: 1.5rem;
  }

  .linksListItem > a > img {
    width: 2em;
  }
}
