.section {
  height: 80svh;
}

.projectsContainer > h2 {
  margin: 2em;
  font-size: 3rem;
  font-family: var(--secondary-font);
}

@media (max-width: 768px) {
  .section {
    height: 90svh;
  }
  .projectsContainer > h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .projectsContainer > h2 {
    font-size: 3rem;
  }
}
