@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --tertiary-font: "Roboto", sans-serif;
  --quartenary-font: "JetBrains Mono", monospace;
  --primary-font-color: #ffffff;
  --secondary-font-color: grey;
  --secondary-color: rgba(128, 128, 128, 0.219);
  --tertirary-color: black;
  /* SWIPER VARIABLES */
  --swiper-theme-color: #000;
}

body {
  overflow-x: hidden;
}

/* SWIPER STYLES OVERRIDING */
.swiper {
  height: 80%;
  background-image: radial-gradient(#000000 2px, transparent 2px) !important;
  background-size: 24px 24px !important;
  background-color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .swiper {
    height: max-content !important;
  }
  .swiper-slide {
    width: 100% !important;
  }
}
